/* font-family: "BenderRegular"; */
@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/Bender/BenderRegular/BenderRegular.eot");
    src: url("../fonts/Bender/BenderRegular/BenderRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderRegular/BenderRegular.woff") format("woff"),
    url("../fonts/Bender/BenderRegular/BenderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBold"; */
@font-face {
    font-family: "BenderBold";
    src: url("../fonts/Bender/BenderBold/BenderBold.eot");
    src: url("../fonts/Bender/BenderBold/BenderBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBold/BenderBold.woff") format("woff"),
    url("../fonts/Bender/BenderBold/BenderBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderItalic"; */
@font-face {
    font-family: "BenderItalic";
    src: url("../fonts/Bender/BenderItalic/BenderItalic.eot");
    src: url("../fonts/Bender/BenderItalic/BenderItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderItalic/BenderItalic.woff") format("woff"),
    url("../fonts/Bender/BenderItalic/BenderItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBoldItalic"; */
@font-face {
    font-family: "BenderBoldItalic";
    src: url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.eot");
    src: url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.woff") format("woff"),
    url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlack"; */
@font-face {
    font-family: "BenderBlack";
    src: url("../fonts/Bender/BenderBlack/BenderBlack.eot");
    src: url("../fonts/Bender/BenderBlack/BenderBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBlack/BenderBlack.woff") format("woff"),
    url("../fonts/Bender/BenderBlack/BenderBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlackItalic"; */
@font-face {
    font-family: "BenderBlackItalic";
    src: url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.eot");
    src: url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.woff") format("woff"),
    url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLight"; */
@font-face {
    font-family: "BenderLight";
    src: url("../fonts/Bender/BenderLight/BenderLight.eot");
    src: url("../fonts/Bender/BenderLight/BenderLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderLight/BenderLight.woff") format("woff"),
    url("../fonts/Bender/BenderLight/BenderLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLightItalic"; */
@font-face {
    font-family: "BenderLightItalic";
    src: url("../fonts/Bender/BenderLightItalic/BenderLightItalic.eot");
    src: url("../fonts/Bender/BenderLightItalic/BenderLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderLightItalic/BenderLightItalic.woff") format("woff"),
    url("../fonts/Bender/BenderLightItalic/BenderLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

html {
  box-sizing: border-box;
  background: #fff;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
    margin:0 auto;
    height: 700px;
    width:1000px;
}


body {
    font-family: "BenderBlack";
    background-image: url('../images/questions/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    color: #404040;
}

.progress {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 24px;
    top:20px;
    left:490px;
}
.progress__item {
    display: inline-block;
    margin-right: 17px;
}
.progress__item_active {
    color: #00cbcc;
}

.app {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    height: 100%;
}

.preloader {
    display: none;
    width: 100%;
    height: 100%;
    background: url(./../images/start.gif) #fff;
    background-size: cover;
    z-index: 100;
}

.splashscreen {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}

.results {
    display: none;
    width: 100%;
    height: 100%;
    background:  #fff;
    text-align: center;
}

.question {
    font-size: 35px;
    position: absolute;
    right: 62px;
    top: 95px;
    text-align: center;
    width: 400px;
}

.answers {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 336px;
    right: 0;
    width: 350px;
    font-size: 30px;
    list-style-type: none;
}
.answers li {
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}
.answers li:hover {
    color: #00cbcc;
}

.answers li small {
    font-size: 22px;
}

.answer_true {
    color: green !important;
}
.answer_false {
    color: red !important;;
}

.link {
    text-decoration: none;
    position: absolute;
    bottom: 7px;
    right: 130px;
    color: #00cbcc;
    text-transform: none;
    font-size: 23px;
}
#vk_groups {
    margin-left: 30px;
}
