html, body, .app {
    margin:0 auto;
    height: auto;
    width: auto;
}
body {
	background-image: url('../images/mobile-questions/1.png');
	background-position: top center;
}
.app {
	background: transparent;
	max-width: 430px;
	margin:0 auto;
	overflow: auto;
}
.progress {
	overflow: hidden;
	position: inherit;
	left: auto;
	text-align: center;
	margin-top: 20px;
}
.question {
	position: inherit;
	width: auto;
	margin-top: 90px;
}
.answers {
	position: inherit;
	width: auto;
}
.link {
	position: inherit;
	margin-top: 50px;
	display: block;
	text-align: center;
	font-size: 20px;
}
.results_description {
	width: auto;
	padding: 10px;
}
